* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #0b1120;
    color: #ffffff;
    line-height: 1.6;
}

/* Navbar */

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(11, 17, 32, 0.95);
    border-bottom: 1px solid #1f2937;
}

.navbar {
    max-width: 1200px;
    margin: auto;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #38bdf8;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #38bdf8;
}

/* Hero */

.hero {
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    padding: 120px 25px 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.hero-text {
    max-width: 650px;
}

.welcome {
    color: #38bdf8;
    letter-spacing: 3px;
    font-size: 14px;
    margin-bottom: 15px;
}

.hero h1 {
    font-size: 55px;
    line-height: 1.2;
}

.hero h1 span {
    color: #38bdf8;
}

.hero h2 {
    margin: 15px 0;
    color: #cbd5e1;
    font-size: 28px;
}

.hero p {
    color: #94a3b8;
    font-size: 17px;
}

.buttons {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background: #38bdf8;
    color: #06111f;
    text-decoration: none;
    border-radius: 7px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    transform: translateY(-3px);
}

.btn.outline {
    background: transparent;
    color: #38bdf8;
    border: 1px solid #38bdf8;
}

/* Profile */
.profile-circle {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #00bcd4;
    box-shadow: 0 0 30px rgba(0, 188, 212, 0.4);
}

.profile-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/* Sections */

.section {
    max-width: 1200px;
    margin: auto;
    padding: 90px 25px;
}

.section-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
    color: #38bdf8;
}

/* About */

.about-box {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 40px;

    background: #111827;
    padding: 35px;
    border-radius: 15px;
    border: 1px solid #1f2937;
}

.about-box h3 {
    font-size: 25px;
    margin-bottom: 15px;
}

.about-box p {
    color: #94a3b8;
}

.about-info p {
    margin-bottom: 10px;
}

.about-info strong {
    color: #ffffff;
}

/* Skills */

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.skill-card {
    background: #111827;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #1f2937;
}

.skill-card h3 {
    margin-bottom: 10px;
}

.skill-card span {
    display: block;
    text-align: right;
    color: #38bdf8;
}

.progress {
    height: 8px;
    background: #263244;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background: #38bdf8;
}

.html { width: 90%; }
.css { width: 85%; }
.js { width: 75%; }
.php { width: 70%; }
.java { width: 70%; }
.sql { width: 75%; }

/* Projects */

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.project-card {
    background: #111827;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #1f2937;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-8px);
    border-color: #38bdf8;
}

.project-icon {
    width: 50px;
    height: 50px;
    background: #38bdf8;
    color: #06111f;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    margin-bottom: 20px;
}

.project-card h3 {
    margin-bottom: 10px;
}

.project-card p {
    color: #94a3b8;
}

.project-link {
    display: inline-block;
    margin-top: 20px;
    color: #38bdf8;
    text-decoration: none;
}

/* Education */

.education-section {
    background: #0f172a;
}

.timeline {
    max-width: 800px;
    margin: auto;
}

.education-card {
    background: #111827;
    padding: 25px;
    margin-bottom: 20px;
    border-left: 4px solid #38bdf8;
    border-radius: 8px;
}

.education-card h3 {
    color: #38bdf8;
}

.education-card h4 {
    font-size: 20px;
}

.education-card p {
    color: #94a3b8;
}

.education-card span {
    color: #64748b;
}

/* Contact */

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.contact-info {
    background: #111827;
    padding: 30px;
    border-radius: 15px;
}

.contact-info h3 {
    font-size: 27px;
    margin-bottom: 15px;
}

.contact-info p {
    color: #94a3b8;
    margin-bottom: 15px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 14px;
    border: 1px solid #334155;
    border-radius: 7px;
    background: #111827;
    color: #ffffff;
    outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #38bdf8;
}

.contact-form button {
    padding: 14px;
    border: none;
    border-radius: 7px;
    background: #38bdf8;
    color: #06111f;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* Footer */

footer {
    text-align: center;
    padding: 25px;
    background: #070b14;
    color: #64748b;
}

/* Responsive */

@media (max-width: 850px) {

    .nav-links {
        display: none;
    }

    .hero {
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 120px;
    }

    .hero h1 {
        font-size: 40px;
    }

    .buttons {
        justify-content: center;
    }

    .profile-circle {
        width: 220px;
        height: 220px;
    }

    .profile-circle span {
        font-size: 60px;
    }

    .about-box,
    .contact-container {
        grid-template-columns: 1fr;
    }

    .skills-container,
    .project-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {

    .hero h1 {
        font-size: 32px;
    }

    .hero h2 {
        font-size: 22px;
    }

    .section {
        padding: 70px 18px;
    }

    .section-title {
        font-size: 30px;
    }
}
